<footer>
    <div class="footer-bottom">
        <div class="container">
            <span> © 2018 Copyright MarkMyBros. All Rights Reserved  </span>
            <span class=""> | </span>
            <a href="">  Terms of Service    </a>
            <span class=""> | </span>
            <a href=""> Privacy Policy </a>
            <span class=""> | </span>
            <a href=""> About Us </a>
            <div class="pull-right">
                <p>Unique and Simple. Designed by MarkMyBros</p>
            </div>
        </div>
    </div>
</footer>